
.circle {
  position: absolute; 
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
}

.left {
    top: 6px;
    left: 8px;
    background-color: black;
}

.left.move-right {
  transition-property: left, margin;
  left: 100%;   
  margin-left: -408px; 
  transition: all 2s ease-in-out;
}

.left.move-down {
  transition-property: left, margin;
  top: 100%;   
  margin-top: -206px; 
  transition: all 2s ease-in-out;
}


.right{
  top: 6px;
  right: 8px;
  background-color: red;
}

.right.move-down {
  transition-property: top, margin;
  top: 100%;   
  margin-top: -406px; 
  transition: all 2s ease-in-out;
}

.right.move-left {
  transition-property: right, margin;
  right: 100%;   
  margin-right: -406px;
  transition: all 2s ease-in-out;
}

.down {
  bottom: 6px;
  right: 8px;
  background-color: green;
}

.down.move-left {
  transition-property: right, margin;
  right: 100%;  
  margin-right: -208px;
  transition: all 2s ease-in-out;
}

.down.move-up {
  transition-property: bottom, margin;
  bottom: 100%; 
  margin-bottom: -406px;
  transition: all 2s ease-in-out;
}